@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
.App{
  padding: 1rem;
}
#profile_img{
  width: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: center;
}
.display_name{
  text-align: center;
}
